<div nz-row class="form-screaner">
  <!-- Forn -->
  <div nz-col nzSpan="24" nzLg="17" class="form-screaner__form">
    <div class="form-screaner__logo">
      <a href="/">
        <img src="assets/images/logo-large.png" alt="Coubiq Logo">
      </a>
    </div>

    <div class="form-screaner__header">
      <span>Вже є обліковий запис?</span> <a routerLink="/sign-in">Увійти</a>
    </div>

    <div class="form-screaner__form-container">
      <form
      nzLayout="verical"
      [formGroup]="registration"
      (submit)="submitForm(registration, selectedCountry, selectedCity)"
      nz-form>
        <div class="form-screaner__form-header">
          <h1>Реєстрація</h1>
          <span>Заповніть поля нижче.</span>
        </div>

        <nz-form-item>
          <label class="form-label">Ім'я</label>
          <nz-form-control nzHasFeedback>
            <nz-input-group nzPrefixIcon="anticon anticon-user">
              <input
              type="text"
              nz-input
              formControlName="username"
              placeholder="Ім'я">
            </nz-input-group>
            <nz-form-explain *ngIf="registration.get('username').dirty && registration.get('username').errors"> {{ minLengthError("імені", nameMinLength) }} </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <label class="form-label">Емейл</label>
          <nz-form-control nzHasFeedback>
            <nz-input-group nzPrefixIcon="anticon anticon-mail">
              <input
              type="email"
              nz-input
              formControlName="email"
              placeholder="Емейл">
            </nz-input-group>
            <nz-form-explain *ngIf="registration.get('email').dirty && registration.get('email').errors"> {{ invalidEmail }} </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <label class="form-label">Пароль</label>
          <nz-form-control nzHasFeedback>
            <nz-input-group nzPrefixIcon="anticon anticon-lock">
              <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Пароль">
            </nz-input-group>
            <nz-form-explain *ngIf="registration.get('password').dirty && registration.get('password').errors"> {{ minLengthError("паролю", passMinLength) }} </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <label class="form-label">Повторіть пароль</label>
          <nz-form-control nzHasFeedback>
            <nz-input-group nzPrefixIcon="anticon anticon-lock">
              <input
              type="password"
              nz-input
              formControlName="passwordConfirm"
              placeholder="Повторіть пароль">
            </nz-input-group>
            <nz-form-explain *ngIf="registration.get('passwordConfirm').dirty && registration.get('passwordConfirm').errors || isControlInvalid('passwordConfirm')" class="input-group__message"> {{ passwordNotEqual }} </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <label class="form-label">Країна</label>
              <div>
                <nz-select
                [(ngModel)]="selectedCountry"
                (ngModelChange)="countryChange($event)"
                [ngModelOptions]="{standalone: true}">
                  <nz-option *ngFor="let country of countryData" [nzValue]="country" [nzLabel]="country"></nz-option>
                </nz-select>
              </div>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <label class="form-label">Місто</label>
              <div [class.has-error]="citySelected == false">
                <nz-select
                nzShowSearch
                [(ngModel)]="selectedCity"
                nzNotFoundContent="Немає результатів"
                nzPlaceHolder="Оберіть місто..."
                (ngModelChange)="isCitySelected(selectedCity)"
                [ngModelOptions]="{standalone: true}">
                  <nz-option *ngFor="let city of cityData[selectedCountry]" [nzValue]="city" [nzLabel]="city"></nz-option>
                </nz-select>

                <nz-form-explain *ngIf="citySelected == false" class="input-group__message"> {{ noCitySelected }} </nz-form-explain>
              </div>
            </nz-form-item>
          </div>
        </div>

        <nz-form-item class="form-footer">
          <nz-form-control>
            <button nz-button nzSize="large" [nzType]="'primary'" type="submit">Реєстрація</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>

  <!-- Cover -->
  <div
  nz-col nzSpan="7"
  [ngStyle]="{'background-image': 'url(' + background + ')'}"
  class="form-screaner__cover"></div>
</div>

