@import "../variables/variables";

.form-screaner,
.form-screaner__cover,
.form-screaner__form {
  @media (min-width: $lg) {
    height: 100%;
  }
}

.form-screaner__cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;

  @media (max-width: $lg) {
    display: none;
  }
}

.form-screaner__header {
  position: absolute;
  top: 0;
  right: 0;
  margin: 38px 38px 48px;
  z-index: 1;

  @media (max-width: $sm) {
    margin-right: 5%;
  }

  a {
    margin-left: 10px;
  }
}

.form-screaner__form {
  display: table;

  form {
    width: 90%;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.form-screaner__logo {
  position: absolute;
  margin: 30px 38px;
  z-index: 1;

  @media (max-width: $sm) {
    margin-left: 5%;
  }

  img {
    width: 38px;
  }
}

.form-screaner__form-container {
  display: table-cell;
  vertical-align: middle;
}

.form-screaner__form-header {
  margin-bottom: 50px;

  h1 {
    line-height: 1;
    margin-bottom: 10px;
    font-size: 24px;
  }
}