.ant-input {
  padding: 15px 30px 15px;
  height: 44px;
}

.ant-form,
.ant-form-item {
  font-family: var(--f-sans);
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 35px;
}

form,
.ant-form {
  position: relative;

  label {
    font-size: 12px;
  }
}

.ant-form-item-control-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.form-footer {
  padding-top: 30px;
}

.is-invalid {
  input {
    border-color: #f5222d;
  }

  .ant-form-explain {
    color: #f5222d;
  }

  &::after {
    content: '\e62e';
    color: #f5222d;
    animation-name: diffZoomIn2 !important;
    position: absolute;
    top: 50%;
    right: 0;
    visibility: visible;
    pointer-events: none;
    width: 32px;
    height: 20px;
    line-height: 20px;
    margin-top: -7px;
    text-align: center;
    font-size: 14px;
    animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    font-family: 'anticon';
    text-rendering: optimizeLegibility;
    z-index: 1;
  }
}

.ant-input-number-lg {
  width: 100%;
  border-radius: 4px 0 0 4px;
  padding-right: 20px;

  input {
    text-align: right;
  }
}

.ant-input-group-addon:last-child {
  width: 114px;
}