.ant-input {
  padding: 15px 30px 15px;
  height: 44px;
}

.ant-form,
.ant-form-item {
  font-family: var(--f-sans);
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 35px;
}

.ant-form {
  label {
    font-size: 12px;
  }
}

.form-label {
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.form-footer {
  padding-top: 30px;
}