<div class="calculations-header">
  <div class="calculations-header__title">
    <h1>Підрахунки</h1>
    <p>Помісячні підрахунки комунальних послуг.</p>
  </div>

  <div class="calculations-header__controls">
    <a
    nz-button
    nzSize="large"
    [nzType]="'primary'"
    routerLink="new"
    >Новий розрахунок</a>
  </div>
</div>

<nz-divider></nz-divider>

<nav class="table-nav">
    <a
    nz-button
    nzType="primary"
    nzShape="circle"
    nz-popconfirm
    [nzTitle]="checkedRows.length > 1 ? 'Видалити обрані розрахунки?' : 'Видалити обраний розрахунок?'"
    (nzOnConfirm)="removeCalculation(checkedRows)"
    [nzOkText]="'Так'">
      <i class="anticon anticon-delete"></i>
    </a>

    <a (click)="exportToExel(checkedRows)">
      <i class="anticon anticon-upload"></i>
    </a>
</nav>

<app-calculations-table (emitChecked)="checkedRowsHandler($event)"></app-calculations-table>
