<nz-layout>
  <nz-header>
    <app-navbar></app-navbar>
  </nz-header>

  <nz-layout>
    <nz-sider nzWidth="260">
      <!-- SIDEBAR -->
    </nz-sider>

    <nz-content>
      <h1>Налаштування</h1>
      <p>Персональні налаштування вашого облікового запису.</p>

      <nz-divider></nz-divider>

      <h2>Основна інформація</h2>
      <form
      *ngIf="currentService.current"
      nzLayout="verical">
        <nz-form-item>
          <label class="form-label">Ім'я</label>
          <nz-form-control nzHasFeedback>
            <nz-input-group nzPrefixIcon="anticon anticon-user">
              <input
              type="text"
              nz-input
              minlength="{{ nameMinLength }}"
              maxlength="{{ nameMaxLength }}"
              required
              [(ngModel)]="currentService.current.username"
              [ngModelOptions]="{standalone: true}"
              placeholder="Ім'я">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <label class="form-label">Емейл</label>
          <nz-form-control nzHasFeedback>
            <nz-input-group nzPrefixIcon="anticon anticon-mail">
              <input
              nz-input
              name="email"
              type="email"
              pattern="{{ emailRegex }}"
              required
              [(ngModel)]="currentService.current.email"
              [ngModelOptions]="{standalone: true}"
              placeholder="Емейл">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <label class="form-label">Країна</label>
              <div>
                <nz-select
                [(ngModel)]="currentService.current.country"
                [ngModelOptions]="{standalone: true}">
                  <nz-option *ngFor="let country of countryData" [nzValue]="country" [nzLabel]="country"></nz-option>
                </nz-select>
              </div>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="12">
            <nz-form-item>
              <label class="form-label">Місто</label>
              <div>
                <nz-select
                nzShowSearch
                [(ngModel)]="currentService.current.city"
                nzNotFoundContent="Немає результатів"
                nzPlaceHolder="Оберіть місто..."
                [ngModelOptions]="{standalone: true}">
                  <nz-option *ngFor="let city of cityData[selectedCountry]" [nzValue]="city" [nzLabel]="city"></nz-option>
                </nz-select>
              </div>
            </nz-form-item>
          </div>
        </div>
        <button nz-button nzSize="large" [nzType]="'primary'" type="submit">Зберегти</button>
      </form>

      <nz-divider></nz-divider>

      <h2>Зміна паролю</h2>

    </nz-content>
  </nz-layout>
</nz-layout>