<nz-table
#calculationsTable
[nzNoResult]="'Данні відсутні'"
[nzData]="displayData"
(nzCurrentPageDataChange)="currentPageDataChange($event)"
[nzLoading]="!calcLoaded"
(nzPageIndexChange)="refreshStatus()"
(nzPageSizeChange)="refreshStatus()">
  <thead>
    <tr>
      <ng-container *ngIf="displayData.length > 0">
        <th
        nzShowCheckbox
        [(nzChecked)]="allChecked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="checkAll($event)"></th>
        <th nzShowExpand></th>
      </ng-container>
      <th>Місяць</th>
      <th><span nzTitle="Електроенергія" nz-tooltip>Ел.-нергія</span></th>
      <th>Газ</th>
      <th><span nzTitle="Холодне водопостачання та водовідведення" nz-tooltip>Холодне в-ння</span></th>
      <th><span nzTitle="Гаряче водопостачання" nz-tooltip>Гаряче в-ння</span></th>
      <th>Опалення</th>
      <th class="no-wrap">Додатково <i nzTitle="Інтернет, Телефон, ЖКП" nz-tooltip class="anticon anticon-question-circle-o"></i></th>
      <th>Інше</th>
      <th>Разом</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let data of calculationsTable.data">
      <tr>
        <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus($event)"></td>
        <ng-container *ngIf="data.value.comment">
          <td nzShowExpand [(nzExpand)]="data.expand"></td>
        </ng-container>
        <ng-container *ngIf="!data.value.comment">
          <td></td>
        </ng-container>
        <td>{{ data.key }}</td>
        <td>{{ data.value.electricity.cost }} грн.</td>
        <td>{{ data.value.gas.cost }} грн.</td>
        <td>{{ data.value.coldWater.cost }} грн.</td>
        <td>{{ data.value.hotWater.cost }} грн.</td>
        <td>{{ data.value.heating.cost }} грн.</td>
        <td>{{ data.value.additional }} грн.</td>
        <td>{{ data.value.other.cost }} грн.</td>
        <td>{{ data.value.total }} грн.</td>
      </tr>
      <tr [nzExpand]="data.expand" *ngIf="data.value.comment">
        <td></td>
        <td colspan="10">{{ data.value.comment }}</td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>