@media print {
  :host /deep/ {
    .calculations-table {
      position: fixed;
      left: 0;
      top: 0;
      background-color: #fff;
      width: 100vw;
      height: 100vh;
    }

    .ant-table {
      font-size: 12px;
    }

    .ant-table-selection-column,
    .ant-table-selection-column,
    .expand,
    .anticon,
    .ant-pagination {
      display: none;
    }

    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 8px 8px;
    }
  }
}