.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #4d4d4d;
  font-family: var(--f-montserat);
  font-weight: 800;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.dropdown-collapse {
  margin-top: 10px;

  i {
    margin-right: 4px;
  }

  .anticon-logout {
    font-size: 12.5px;
  }
}