<nz-layout>
  <nz-header>
    <app-navbar></app-navbar>
  </nz-header>

  <nz-layout>
    <div class="hero">
      <section class="hero__headings">
        <h1 class="hero__title">
          <b>Калькулятор</b> вартості<br/>комунальних послуг
        </h1>

        <h2 class="hero__subtitle">
          Розрахунок витрат та порівняння розходів на електроенергію,<br/>водопостачання, газ, опалення та інші комунальні послуги.
        </h2>
      </section>
      <section class="laptop">
        <div class="laptop__wrapper">
          <div id="laptop" class="laptop__mockup"
          (scroll)="isVisible()">
            <div class="laptop__part laptop__part--top">
              <img src="/assets/images/laptop-top.svg" alt="" class="top">
              <img src="/assets/images/laptop-cover.svg" alt="" class="cover">
              <img src="/assets/images/laptop-content.png" class="content" alt="">
            </div>
            <div class="laptop__part laptop__part--bottom">
              <img src="/assets/images/laptop-cover.svg" alt="" class="cover">
              <img src="/assets/images/laptop-bottom.svg" alt="" class="bottom">
            </div>
          </div>
        </div>
      </section>

    </div>
  </nz-layout>
</nz-layout>

<nz-footer>
  <app-footer></app-footer>
</nz-footer>