@import "../../../../styles/variables/variables";

$bg-color: var(--c-primary);
$dot-color: #fff;

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

.hero {
  position: relative;
  padding-top: 100px;
  color: #fff;
  height: 1000px;
  overflow: hidden;
  z-index: 2;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    background-color: #fff;
  }

  &::before {
    bottom: -30%;
    left: 0;
    width: 40%;
    height: 30%;
    transform-origin: 100% 0;
    transform: scale(2,1) rotate(33deg);
  }

  &::after {
    bottom: -50%;
    right: 0;
    width: 60%;
    height: 50%;
    transform-origin: 0 0;
    transform: scale(2,1) rotate(-36deg);
  }
}

.hero__headings {
  padding-top: 80px;
  padding-bottom: 86px;
  text-align: center;
}

.hero__title {
  color: #fff;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 300;

  b {
    font-weight: 400;
  }
}

.hero__subtitle {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
}

.laptop {
  .laptop__mockup {
    display: inline-block;
    position: relative;
    z-index: 3;
    text-align: center;
    font-size: 0;
    perspective: 2400px;
    perspective-origin: 50% 100%;
    opacity: 0;
    transition: 500ms opacity;

    &.loaded {
      opacity: 1;
    }

    img {
      display: block;
      max-width: 100%;
      backface-visibility: hidden;
    }

    &.opened {
      .laptop__part {
        &--top {
          transform: translate3d(0,0,0) rotateX(0deg);
        }
      }
    }
  }

  .laptop__part {
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    transition: 900ms;

    &--top {
      transform: translate3d(0,0,0) rotateX(-90deg);
    }

    &--bottom {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate3d(0,0,0) rotateX(-90deg);
    }

    .cover {
      position: relative;
    }

    .top {
      transform-origin: 50% 0;
      transform: translate3d(0,0,-11px) rotateX(90deg);
      transition: 900ms;
    }

    .bottom {
      transform-origin: 50% 0;
      transform: translate3d(0,0,0) rotateX(90deg);
    }

    .top,
    .bottom {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.laptop__wrapper {
  max-width: 880px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-align: center;
}

.pattern-bg {
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 100%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 100%) center, $dot-color;
  background-size: $dot-space $dot-space;
  padding: 15px 15px 20px;

  @media (min-width: $lg) {
    padding: 40px 40px 80px;
  }
}