body {
  font-family: var(--f-sans);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $s) {
    width: 750px;
  }

  @media (min-width: $m) {
    width: 970px;
  }

  @media (min-width: $l) {
    width: 1280px;
  }
}