body {
  font-family: var(--f-sans);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $md) {
    width: 750px;
  }

  @media (min-width: $lg) {
    width: 970px;
  }

  @media (min-width: $xl) {
    width: 1200px;
  }
}

.ant-layout {
  height: 100%;
}

.ant-layout-header {
  background-color: #fff;
  color: #4d4d4d;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid var(--c-light-gray);
}

.ant-layout-footer {
  border-top: 1px solid var(--c-light-gray);
}

.ant-layout-content {
  padding: 40px 64px 80px;
  background-color: #fff;
}

.ant-layout-footer,
.ant-layout-sider {
  background-color: #f9fafb;
}
